@using CCTV.S2.Areas.Admin.ViewModels
@model DetailTeamMemberVM
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="~/images/@Model.Image" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <h5 class="card-title">@Model.Designation</h5>
    </div>
</div>
